{% extends "basic_generic.html" %}
{% block sidebar %}
    <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'books' %}">All books</a></li>
        <li><a href="{% url 'authors' %}">All authors</a></li>
    </ul>
    <ul class="sidebar-nav">
            {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
                <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login'%}?next={{ request.path }}">Login</a></li>
            {% endif %}
    </ul>
    {% if user.is_staff %}
        {% if perms.catalog.can_mark_returned %}
        <ul class="sidebar-nav">

            <li>Staff</li>
            <li><a href="{% url 'all-borrowed' %}">All Borrowed</a></li>

        </ul>
        <ul class="sidebar-nav">
            <li>Author</li>
            <li><a href="{% url 'author-create' %}">Create</a></li>
        </ul>

        {% endif %}
    {% endif %}

{% endblock %}

{% block content %}
    <h1>Author List</h1>
    {% if author_list %}
    <ul>
        {% for author in author_list %}
            <li>
                <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }} ({{author.date_of_birth}} - {% if author.date_of_death != None %}{{author.date_of_death}}{% endif %})</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no authors in the library.</p>
    {% endif %}

{% endblock %}
